.nav {


    display: flex;

     background-color:ivory;
     border: 1px solid lightgrey;
}

.nav a {

    text-decoration: none;
    color: grey;
}
.nav a.active {
    text-decoration: underline;
    color: blue;
}



.menu {

    margin-right: 2px;
    padding: 10px;
}